/*****************************************************************************************
   filename: {{ filename }}_intf.sv
   author  : {{ author }}
   description: {{ description }}
******************************************************************************************/

`ifndef __{{interface_name}}_intf__
   `define __{{interface_name}}_intf__

/*****************************************************************************************
   Interface decleration
******************************************************************************************/
interface {{ interface_name }}_intf({%- for port in ports %}{{ port }}{{ ", " if not loop.last else "" }}
                                    {%- endfor %});
{% for item in signals %}
   logic {{ item }};
{%- endfor %}

endinterface : {{ interface_name }}_intf

`endif

/*****************************************************************************************
   End of file
******************************************************************************************/