/*****************************************************************************************
   filename: {{ filename }}.sv
   author  : {{ author }}
   description: {{ description }}
******************************************************************************************/

`ifndef __{{package_name}}_pkg__
   `define __{{package_name}}_pkg__

/*****************************************************************************************
   Package decleration
******************************************************************************************/
package {{ package_name }}_pkg;
   import uvm_pkg::*
   `include "uvm_macros.svh"

/*****************************************************************************************
   Package contents
******************************************************************************************/
{% for item in includes %}
   `include "{{ item }}.sv"
{%- endfor %}

endpackage : {{ package_name }}_pkg

`endif

/*****************************************************************************************
   End of file
******************************************************************************************/
