/*****************************************************************************************
   filename: {{ filename }}
   author  : {{ author }}
   description: {{ description }}
******************************************************************************************/


class {{ class_name }} extends uvm_sequencer#({{ sequence_item_name }});
 `uvm_component_utils(`{{class_name}})

  function new(string name = "{{ class_name }}", uvm_component parent);
    super.new(name, parent);
  endfunction : new

endclass : {{ class_name }}