/*****************************************************************************************
   filename: {{ filename }}.sv
   author  : {{ author }}
   description: {{ description }}
******************************************************************************************/

`ifndef __{{ class_name }}__
   `define __{{ class_name }}__

class {{ class_name }} extends uvm_sequence;

 `uvm_object_utils({{class_name}})

  function new(string name = "{{ class_name }}");
    super.new(name);
  endfunction : new

  task body();
    start_item(item);
    finish_item(item);
    get_response(item);
  endtask : body

endclass : {{ class_name }}

`endif
/*****************************************************************************************
   End of file
******************************************************************************************/

